<!--
=========================================================
* Soft UI Design System - v1.0.5
=========================================================
* Product Page:  https://www.creative-tim.com/product/soft-ui-design-system
* Copyright 2021 Creative Tim (https://www.creative-tim.com)
Coded by www.creative-tim.com
 =========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <title>
        involvesMe. | Settings
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <!-- Nucleo Icons -->
    <link href="css/nucleo-icons.css" rel="stylesheet" />
    <link href="css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="css/soft-design-system.css?v=1.0.5" rel="stylesheet" />
    <link href="css/additional-styles.css" rel="stylesheet" />
</head>

<body class="sign-in-illustration">


    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 d-flex flex-column mx-auto">
                        <div class="card card-plain">
                            <div class="card-header pb-0 text-left">
                                <h4 class="pt-3">Settings</h4>
                                
                            </div>
                            <div class="card-body pb-0">
                                <% if (messages.error) {
                                    %>
                                <div class="alert alert-danger text-white border-0 text-sm p-3 " role="alert">
                                    <%= messages.error %>
                                </div>
                                <%
                                  } %>
                                  <p class="mb-0 pt-4">Profile</p>
                                <div class="profile-pic-div pb-3">
                                    <img class="rounded-circle mt-4 rounded mx-auto d-block" width="150px" id="profile-photo" src="img/team-4.jpg">
                                    <input type="file" id="uplaodPic" class="font-weight-bolder">
                                </div>
                                
                                <form role="form" method="POST" action="">
                                    <div class="form-group col-lg-12 mx-auto">
                                        <label for="displayname" class="form-check-label text-muted">Display Name</label>
                                        <div class="d-flex input-group mb-1">
                                            <input type="text" name="displayname" id="displayname"
                                                class="flex-grow-1 input-group-text bg-gray-300 text-start"
                                                value="John Smith" placeholder="John Smith" aria-label="Display name"
                                                aria-describedby="button-addon2" readonly>
                                            <button class="btn btn-outline-primary mb-0 mx-1 px-3" type="button"
                                                id="editbuttondisplayname" onclick="enableDisplayName()">
                                                <i class="fas fa-pen text-md"></i>
                                            </button>
                                            <button class="btn btn-outline-primary mb-0 mx-1 px-3" type="button"
                                                id="displaycancel" onclick="displayCancel()" style="display: none;">
                                                <i class="fas fa-times text-md"></i>
                                            </button>
                                            <button class="btn btn-outline-primary mb-0 mx-1 px-3" type="submit"
                                                id="saveDisplay" style="display: none;">
                                                <i class="fas fa-check text-md"></i>
                                            </button>

                                        </div>
                                    </div>
                                </form>

                                <form role="form" method="POST" action="">
                                    <div class="form-group col-lg-12 mx-auto pb-0">
                                        <label for="bioedit" class="form-check-label text-muted">Bio</label>
                                        <div class="d-flex input-group mb-1">
                                            <input type="text" name="bio" id="bioedit"
                                                class="py-4 flex-grow-1 input-group-text bg-gray-300 text-start"
                                                value="bla bla bla" placeholder="bla bla bla" aria-label="Bio"
                                                aria-describedby="button-addon2" readonly>
                                        </div>
                                        <div>
                                            <button class="btn btn-outline-primary col-12 mb-0 mx-auto" type="button"
                                            id="editbuttonbio" onclick="enableBio()">
                                                <i class="fas fa-pen text-md"></i>
                                            </button>
                                            <div class="btn-group col-12 pb-5" role="group">
                                            <button class="btn btn-outline-primary col-3 mb-0 mx-0 px-6" type="button"
                                                id="biocancel" onclick="bioCancel()" style="display: none;">
                                                <i class="fas fa-times text-md"></i>
                                            </button>
                                            <button class="btn btn-outline-primary col-3 mb-0 mx-0 px-6" type="submit"
                                                id="saveBio" style="display: none;">
                                                <i class="fas fa-check text-md"></i>
                                            </button>
                                        </div>

                                        </div>
                                    </div>
                                </form>

                                <!-- Divider Text -->
                                <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-3">
                                    <div class="border-bottom w-100 ml-5 "></div>
                                    <span class="px-0 small text-muted font-weight-bold text-muted "></span>
                                    <div class="border-bottom w-100 mr-5 "></div>
                                </div>

                                <p class="mb-0 pt-2 pb-3">Account</p>
                                <form role="form" method="POST" action="/account/username?_method=PUT">
                                    <div class="form-group col-lg-12 mx-auto">
                                        <label for="username" class="form-check-label text-muted">Username</label>
                                        <div class="d-flex input-group mb-1">
                                            <input type="text" name="username" id="username"
                                                class="flex-grow-1 input-group-text bg-gray-300 text-start"
                                                value="<%=username%>" placeholder="@Username" aria-label="Username"
                                                aria-describedby="button-addon2" readonly>
                                            <button class="btn btn-outline-primary mb-0 mx-1 px-3" type="button"
                                                id="editbuttonusername" onclick="enableUsername()">
                                                <i class="fas fa-pen text-md"></i>
                                            </button>
                                            <button class="btn btn-outline-primary mb-0 mx-1 px-3" type="button"
                                                id="usernamecancel" onclick="usernameCancel()" style="display: none;">
                                                <i class="fas fa-times text-md"></i>
                                            </button>
                                            <button class="btn btn-outline-primary mb-0 mx-1 px-3" type="submit"
                                                id="saveName" style="display: none;">
                                                <i class="fas fa-check text-md"></i>
                                            </button>

                                        </div>
                                    </div>
                                </form>
                                <%var actionurl; if (usertype ==="local"){actionurl="/account/email?_method=PUT"}else{actionurl="#"}%>
                                <form role="form" method="POST" action="<%=actionurl%>">
                                    <div class="form-group col-lg-12 mx-auto">
                                        <label for="email" class="form-check-label text-muted">Email</label>
                                        <div class="d-flex input-group mb-1">
                                            <input type="text" name="email" id="email"
                                                class="flex-grow-1 input-group-text bg-gray-300  text-start"
                                                value="<%=useremail%>" placeholder="email" aria-label="email"
                                                aria-describedby="button-addon2" readonly>
                                            <%if(usertype === "local"){%>
                                            <button class="btn btn-outline-primary mb-0 mx-1 px-3" type="button"
                                                id="editbuttonemail" onclick="enableEmail()">
                                                <i class="fas fa-pen text-md"></i>
                                            </button>
                                            <button class="btn btn-outline-primary mb-0 mx-1 px-3" type="button"
                                                id="emailcancel" onclick="emailCancel()" style="display: none;">
                                                <i class="fas fa-times text-md"></i>
                                            </button>
                                            <button class="btn btn-outline-primary mb-0 mx-1 px-3" type="submit"
                                                id="saveEmail" style="display: none;">
                                                <i class="fas fa-check text-md"></i>
                                            </button>
                                            <%}%>
                                        </div>
                                    </div>
                                </form>
                                <form role="form" method="POST" action="/account/password?_method=PUT">
                                    <div class="form-group col-lg-12 mx-auto">
                                        <label for="password" class="form-check-label text-muted"
                                            id="passwordtext">Password</label>
                                        <div class="d-flex input-group mb-1">
                                            <% if (passwordVer){ %>
                                            <input type="password" name="password" id="password"
                                                class="flex-grow-1 input-group-text bg-gray-300  text-start"
                                                placeholder="**********" aria-label="password"
                                                aria-describedby="button-addon2" readonly>
                                            <%} %>
                                            <% if (!passwordVer){ %>
                                            <input type="password" name="placeholderpassword" id="placeholderpassword"
                                                class="flex-grow-1 input-group-text bg-gray-300 text-start"
                                                placeholder="Add a password to be able to sign in with credentials" aria-label="password"
                                                aria-describedby="button-addon2" readonly>
                                            <%} %>
                                            <button class="btn btn-outline-primary mb-0 mx-1 px-3" type="button"
                                                id="editbuttonpassword" onclick="enablePassword()">
                                                <i class="fas fa-pen text-md"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-12 mx-auto">
                                        <label for="newpassword" class="form-check-label text-muted"
                                            id="newpasswordtext" style="display: none;">New Password</label>
                                        <div class="input-group mb-1">
                                            <input type="password" name="newpassword" id="newpassword"
                                                class="flex-grow-1 input-group-text bg-gray-300 text-start"
                                                placeholder="Please Input New Password" aria-label="newpassword"
                                                aria-describedby="button-addon2" style="display: none;">
                                            <button class="btn btn-outline-primary mb-0 mx-1 px-3" type="button"
                                                id="passwordcancel" onclick="passwordCancel()" style="display: none;">
                                                <i class="fas fa-times text-md"></i>
                                            </button>
                                            <button class="btn btn-outline-primary mb-0 mx-1 px-3" type="submit"
                                                id="savePassword"  style="display: none;">
                                                <i class="fas fa-check text-md"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>


                                <% if ((usertype) != "creator"){ %>
                                <form role="form" method="post" action="/account/type">
                                    <div class="row mb-0 text-quicksand ">
                                        <p class="mb-1 text-left ">I am a: </p>
                                        <div class="btn-group " role= "group ">
                                                <input type=" text" class="btn btn-primary col-1" name="account-type"
                                            id="fan" value="fan" readonly>
                                            <button class="btn btn-md px-3 btn-outline-primary" id="tog" type="submit"
                                                onclick="toggle()">Upgrade to Content Creator</button>
                                        </div>
                                    </div>
                                </form>
                                <% } %>
                                <!-- Divider Text -->
                                <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-3">
                                    <div class="border-bottom w-100 ml-5 "></div>
                                    <span class="px-0 small text-muted font-weight-bold text-muted "></span>
                                    <div class="border-bottom w-100 mr-5 "></div>
                                </div>



                                <div class="row">
                                    <div class="col-sm-12 ">
                                        <!-- Button trigger modal -->
                                        <button type="button " class="btn btn-secondary" data-toggle="modal "
                                            data-target="#deleteModal "
                                            onclick="document.getElementById( 'deleteModal').style.display='block' ">
                                            Delete account
                                        </button>


                                        <!-- Modal -->

                                        <div class="modal " id="deleteModal" tabindex="-1 " role="dialog"
                                            aria-labelledby="deleteModalLabel " aria-hidden="true ">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content ">
                                                    <div class="modal-header ">
                                                        <h5 class="modal-title text-secondary " id="exampleModalLabel ">
                                                            Account deletion</h5>
                                                        <button type="button " class="close border-0 bg-transparent "
                                                            data-dismiss="modal " aria-label="Close "
                                                            onclick="document.getElementById( 'deleteModal').style.display='none' ">
                                                            <span aria-hidden="true ">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body ">
                                                        Are you sure you want to Delete your Account ?
                                                    </div>
                                                    <div class="modal-footer ">
                                                        <form role="form " method="POST"
                                                            action="/account/delete-account?_method=DELETE">
                                                            <button type="submit" class="btn bg-gradient-primary">Delete
                                                                account</button>
                                                        </form>
                                                        <button type="button " class="btn btn-secondary "
                                                            data-dismiss="modal "
                                                            onclick="document.getElementById( 'deleteModal').style.display='none' ">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!--   Core JS Files   -->
    <script src="js/core/popper.min.js " type="text/javascript "></script>
    <script src="js/core/bootstrap.min.js " type="text/javascript "></script>
    <script src="js/plugins/perfect-scrollbar.min.js "></script>
    <!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
    <script src="js/plugins/parallax.min.js "></script>
    <!-- Control Center for Soft UI Kit: parallax effects, scripts for the example pages etc -->
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI "></script>
    <script src="js/soft-design-system.min.js?v=1.0.5 " type="text/javascript "></script>
    <script>
        function toggle() {
            if (document.getElementById("tog").className == "btn btn-lg px-3 btn-outline-primary") {
                document.getElementById("tog").className = "btn btn-lg px-3 btn-primary";
                document.getElementById("fan").className = "btn btn-outline-primary col-2"
            } else {
                // document.getElementById("tog").className = "btn btn-lg px-3 btn-outline-primary";
                // document.getElementById("fan").className = "btn btn-primary col-2"
            }
        }

        
        function enableUsername() {
            document.getElementById("username").readOnly = false;
            let name = document.getElementById("username").value;
            document.getElementById("username").placeholder = name;
            // document.getElementById("username").className = "input-group-text bg-gray-300 col-8 text-start";
            document.getElementById("saveName").style.display = "block";
            document.getElementById("usernamecancel").style.display = "block";
            // document.getElementById("svgedit").remove;
            document.getElementById("editbuttonusername").style.display = "none"
            var usertype = '<%=usertype%>';
            if (usertype == "local"){
                document.getElementById("editbuttonemail").style.display = "none";
            }
            document.getElementById("editbuttonpassword").style.display = "none"
            document.getElementById("editbuttondisplayname").style.display = "none"
            document.getElementById("editbuttonbio").style.display = "none"
        }

        function enableDisplayName() {
            document.getElementById("displayname").readOnly = false;
            let name = document.getElementById("displayname").value;
            document.getElementById("displayname").placeholder = name;
            // document.getElementById("username").className = "input-group-text bg-gray-300 col-8 text-start";
            document.getElementById("saveDisplay").style.display = "block";
            document.getElementById("displaycancel").style.display = "block";
            // document.getElementById("svgedit").remove;
            document.getElementById("editbuttondisplayname").style.display = "none"
            var usertype = '<%=usertype%>';
            if (usertype == "local"){
                document.getElementById("editbuttonemail").style.display = "none";
            }
            document.getElementById("editbuttonpassword").style.display = "none";
            document.getElementById("editbuttonbio").style.display = "none";
            document.getElementById("editbuttonusername").style.display = "none";
        }

        function enableBio() {
            document.getElementById("bioedit").readOnly = false;
            let bio = document.getElementById("bioedit").value;
            document.getElementById("bioedit").placeholder = bio;
            // document.getElementById("username").className = "input-group-text bg-gray-300 col-8 text-start";
            document.getElementById("saveBio").style.display = "block";
            document.getElementById("biocancel").style.display = "block";
            // document.getElementById("svgedit").remove;
            document.getElementById("editbuttonbio").style.display = "none"
            var usertype = '<%=usertype%>';
            if (usertype == "local"){
                document.getElementById("editbuttonemail").style.display = "none";
            }
            document.getElementById("editbuttonpassword").style.display = "none"
            document.getElementById("editbuttondisplayname").style.display = "none"
            document.getElementById("editbuttonusername").style.display = "none";
        }

        function enableEmail() {
            document.getElementById("email").readOnly = false;
            // document.getElementById("email").className = "input-group-text bg-gray-300 col-8 text-start";
            document.getElementById("saveEmail").style.display = "block "
            document.getElementById("editbuttonusername").style.display = "none"
            document.getElementById("editbuttonemail").style.display = "none"
            document.getElementById("editbuttonpassword").style.display = "none"
            document.getElementById("editbuttondisplayname").style.display = "none";
            document.getElementById("editbuttonbio").style.display = "none";
            document.getElementById("emailcancel").style.display = "block";
        }

        function enablePassword() {
            var userPassword = '<%= passwordVer %>';
            if (userPassword == 'true') {
                document.getElementById("password").readOnly = false;
                // document.getElementById("password").className = "input-group-text bg-gray-300 col-8 text-start";
                document.getElementById("password").placeholder = "Please Input Current Password";
                document.getElementById("password").setAttribute("required", "");
            }

            // alert ("WTF")
            if (userPassword == 'false') {
                document.getElementById("passwordtext").style.display = "none";
                document.getElementById("placeholderpassword").style.display = "none";
            }
            document.getElementById("newpasswordtext").style.display = "block";
            document.getElementById("newpassword").setAttribute("required", "");
            document.getElementById("newpassword").style.display = "block ";
            document.getElementById("savePassword").style.display = "block ";
            document.getElementById("editbuttonusername").style.display = "none";
            document.getElementById("editbuttondisplayname").style.display = "none";
                document.getElementById("editbuttonbio").style.display = "none";
            var usertype = '<%=usertype%>';
            if (usertype == "local"){
                document.getElementById("editbuttonemail").style.display = "none";
            }
            document.getElementById("editbuttonpassword").style.display = "none"
            document.getElementById("passwordcancel").style.display = "block";
            let passwrod = document.getElementById("password").value;
            // <!--            // document.getElementById("username ").placeholder = name;
        }

        function usernameCancel() {
            document.getElementById("username").readOnly = true;
            let name = document.getElementById("username").value = "<%=username%>";
            document.getElementById("username").placeholder = name;
            // document.getElementById("username").className = "input-group-text bg-gray-300 col-8 text-start";
            document.getElementById("saveName").style.display = "none";
            document.getElementById("editbuttonusername").style.display = "block";
            var usertype = '<%=usertype%>';
            if (usertype == "local"){
                document.getElementById("editbuttonemail").style.display = "block";
            }
            document.getElementById("editbuttonpassword").style.display = "block";
            document.getElementById("editbuttondisplayname").style.display = "block";
            document.getElementById("editbuttonbio").style.display = "block";
            document.getElementById("usernamecancel").style.display = "none";
        }

        function displayCancel() {
            document.getElementById("displayname").readOnly = true;
            let name = document.getElementById("displayname").value = "john nash";
            document.getElementById("displayname").placeholder = name;
            // document.getElementById("username").className = "input-group-text bg-gray-300 col-8 text-start";
            document.getElementById("saveDisplay").style.display = "none";
            document.getElementById("editbuttondisplayname").style.display = "block";
            document.getElementById("editbuttonbio").style.display = "block";
            document.getElementById("displaycancel").style.display = "none";
            document.getElementById("editbuttonpassword").style.display = "block";
            document.getElementById("editbuttonusername").style.display = "block";
            
            var usertype = '<%=usertype%>';
            if (usertype == "local"){
                document.getElementById("editbuttonemail").style.display = "block";
            }
           
        }

        function bioCancel() {
            document.getElementById("bioedit").readOnly = true;
            let bio = document.getElementById("bioedit").value = "bla bla bla";
            document.getElementById("bioedit").placeholder = bio;
            // document.getElementById("username").className = "input-group-text bg-gray-300 col-8 text-start";
            document.getElementById("saveBio").style.display = "none";
            document.getElementById("editbuttondisplayname").style.display = "block";
            document.getElementById("editbuttonbio").style.display = "block";
            document.getElementById("biocancel").style.display = "none";
            document.getElementById("editbuttonpassword").style.display = "block";
            document.getElementById("editbuttonusername").style.display = "block";
            
            var usertype = '<%=usertype%>';
            if (usertype == "local"){
                document.getElementById("editbuttonemail").style.display = "block";
            }
           
        }

        function emailCancel() {
            document.getElementById("email").readOnly = true;
            let name = document.getElementById("email").value = "<%=useremail%>";
            document.getElementById("email").placeholder = name;
            // document.getElementById("email").className = "input-group-text bg-gray-300 col-8 text-start";
            document.getElementById("saveEmail").style.display = "none";
            document.getElementById("editbuttonusername").style.display = "block"
            document.getElementById("editbuttonemail").style.display = "block"
            document.getElementById("editbuttonpassword").style.display = "block"
            document.getElementById("editbuttondisplayname").style.display = "block";
            document.getElementById("editbuttonbio").style.display = "block";
            document.getElementById("emailcancel").style.display = "none";
        }

        function passwordCancel() {
            var userPassword = '<%= passwordVer %>';
            if (userPassword == 'true') {
                document.getElementById("password").readOnly = true;
                document.getElementById("password").placeholder = "***************";
                document.getElementById("password").value = "";
                // document.getElementById("password").className = "input-group-text bg-gray-300 col-8 text-start";
                document.getElementById("password").removeAttribute("required");
            }
            if (userPassword == 'false') {
                document.getElementById("passwordtext").style.display = "block";
                document.getElementById("placeholderpassword").style.display = "block";
            }
            document.getElementById("newpassword").value = "";
            document.getElementById("newpassword").style.display = "none";
            document.getElementById("newpassword").removeAttribute("required");
            document.getElementById("newpasswordtext").style.display = "none";
            document.getElementById("savePassword").style.display = "none";
            document.getElementById("editbuttonusername").style.display = "block"
            document.getElementById("editbuttondisplayname").style.display = "block"
            document.getElementById("editbuttonbio").style.display = "block"
            var usertype = '<%=usertype%>';
            if (usertype == "local"){
                document.getElementById("editbuttonemail").style.display = "block";
            }
            document.getElementById("editbuttonpassword").style.display = "block"
            document.getElementById("passwordcancel").style.display = "none";
        }
    </script>
</body>

</html>